.relative {
	position: relative;
} 

.absolute {
	position: absolute;
	top: 0;
	right: 0;	
}

.deleteButton {
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	opacity: 0.8;
}

.deleteButton:hover {
	opacity: 1;
}

.deleteButtonImage {
	width: 20px;
	height: 20px;
}
